project_id              = "my-gcp-project-id"
region                  = "us-central1"

github_app_id           = "123456"
github_app_private_key = <<EOF
-----BEGIN RSA PRIVATE KEY-----
YOUR_PRIVATE_KEY_CONTENT
-----END RSA PRIVATE KEY-----
EOF

github_webhook_secret   = "replace-with-webhook-secret"

runner_labels = ["self-hosted", "ephemeral", "gce"]
