name: Build and Push Docker Image

on:
   workflow_run:
      workflows: ["Request Ephemeral Runner"]
      types:
         - completed

jobs:
   build:
      runs-on: [self-hosted, gce, ephemeral]

      steps:
         - name: Checkout source code
           uses: actions/checkout@v4

         - name: Log in to Docker Hub
           uses: docker/login-action@v3
           with:
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_TOKEN }}

         - name: Build Docker image
           run: |
              docker build \
                -f application/Dockerfile \
                -t ${{ secrets.DOCKERHUB_USERNAME }}/ci-artifact:latest \
                application

         - name: Push Docker image
           run: |
              docker push ${{ secrets.DOCKERHUB_USERNAME }}/ci-artifact:latest
